# https://help.github.com/articles/dealing-with-line-endings/
# Binary files. Git will not modify these blobs:
*.bmp binary
*.gif binary
*.jpg binary
*.pgm binary
*.png binary
*.ppm binary
*.raw binary
*.tif binary
*.wbmp binary
