
	/* Root Element */
	.root {
		-fx-background-color : orange;
		-fx-faint-focus-color : transparent;
		-fx-focus-color : transparent;
		-fx-grid-lines-visible : true;
	}

	/* Layout Classes */
	.h-box {}
	.v-box {}

	/* GUI Components */
	.button, .button:focused, .button:hover, .button:active {
		-fx-background-color : rgba(35, 35, 35, 1.0);
		-fx-background-insets : 0 0 0 0;
		-fx-background-radius : 0;
		-fx-border-color : rgba(35, 35, 35, 1.0);
		-fx-border-radius : 0;
		-fx-border-width : 1px;
		-fx-font-size : 11px;
		-fx-pref-height : 16px;
		-fx-pref-width : 80px;
		-fx-text-fill : white;
	}

	.box {
		-fx-background-color : white;
		-fx-background-insets : 0 0 0 0;
		-fx-background-radius : 0;
		-fx-border-color : rgba(35, 35, 35, 1.0);
		-fx-border-radius : 0;
		-fx-border-width : 1px;
	}

	.check-box {}
	.label {}
	.list-cell {}
	.list-view {}
